# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build products copied into the project
CollageStudio/Products/

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store
